# Regular Expressions Assignment - Dead Line 7th March, 2024

In [59]:
import re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'

In [60]:
text = 'Python Exercises, PHP exercises.'
print(re.sub("[,.]", ":", text))

Python Exercises: PHP exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [61]:
my_dict = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(my_dict)

In [62]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string.
The use of the re.compile() method is mandatory.

In [63]:
text = 'Hello this is python reg expression assignment.'
print(re.findall(r"\b\w{4,}\b", text))

['Hello', 'this', 'python', 'expression', 'assignment']

In [64]:
text = 'Hello this is python regex assignment.'
def find_words(text):
    pattern = re.compile(r'\b\w{4,}\b')
    matches = pattern.findall(text)
    return matches

result = find_words(text)
print(result)

['Hello', 'this', 'python', 'regex', 'assignment']

Question 4- Create a function in python to find all three, four, and five character words in a string.
The use of the re.compile() method is mandatory.

In [65]:
text = 'Hello this is python reg expression assignment.'
def find_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    matches = pattern.findall(text)
    return matches

result = find_words(text)
print(result)

['Hello', 'this', 'reg']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. 
The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [66]:
Sample_Text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

for text in Sample_Text:
    print(re.sub(r" ?\([^)]+\)", "", text))

example
hr@fliprobo
github
Hello
Data

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [67]:
text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
string = []
for item in text:
    result = (re.sub(r" ?\([^)]+\)", "", item))
    string.append(result)
print(string)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

In [68]:
text = “ImportanceOfRegularExpressionsInPython”
print(re.findall('[A-Z][^A-Z]*', text))

SyntaxError: invalid character '“' (U+201C) (765373727.py, line 1)

Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [69]:
text = 'RegularExpression1IsAn2ImportantTopic3InPython'
result = insert_spaces(text)
print(result)

NameError: name 'insert_spaces' is not defined

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [70]:
def capital_letters (x):
    return re.sub(r"(\w)([A-Z])", r"\1\2", x)

print(capital_letters("RegularExpression"))
print(capital_letters("1"))
print(capital_letters('IsAn'))
print(capital_letters("ImportantTopic"))
print(capital_letters("3"))
print(capital_letters("InPython"))

RegularExpression
1
IsAn
ImportantTopic
3
InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [71]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [72]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [73]:
df['first_five_letters'] = df['Country'].apply(lambda x : x[0:6])

In [74]:
df['first_five_letters']

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [75]:
def match(x):
    patterns = "^[a-zA-Z0-9_]*$"
    if re.search(patterns, x):
        return 'Found a match!'
    else:
        return('not match!')

print(match("Python is a powerful language."))
print(match("Regular_Expression_assignment_1"))

not match!
Found a match!

Question 12- Write a Python program where a string will start with a specific number.

In [76]:
def match_num(string):
    text = re.compile(r"^5")
    if text.match(string):
        return True
    else:
        return False

print(match_num('5-124567'))
print(match_num('2-124567'))

True
False

Question 13- Write a Python program to remove leading zeros from an IP address

In [77]:
ip_add = "122.0176.0018.49"
ip = re.sub ("\.[0]*", "." , ip_add)

print(ip)

122.176.18.49

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

In [78]:
text = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'

pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"
matches = re.findall(pattern, text)
date_string = matches[0] if matches else none

print(date_string)

August 15th 1947

Question 15- Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

In [79]:
patterns = ['fox', 'dog', 'horse']

sample_text = 'The quick brown fox jumps over the lazy dog.'

for x in patterns:
    print('Searching for "%s" in "%s" ->' % (x, sample_text),)
    if re.search(x, sample_text):
        print('match !')
    else:
        print('not match !')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
match !
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
match !
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
not match !

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [80]:
pattern = 'fox'

sample_text = 'The quick brown fox jumps over the lazy dog.'

match = re.search(pattern, sample_text)

s = match.start()

e = match.end()

print('Found "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [81]:
text = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [82]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [83]:
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [84]:
def find_decimal_numbers(string):
  pattern = re.compile(r'\d+\.\d{1,2}')
  decimal_numbers = re.findall(pattern, string)
  return decimal_numbers

In [85]:
Sample_Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

result = find_decimal_numbers(Sample_Text)

print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [86]:
text = "Python is an interpreted, interactive and object oriented programming language. It has 5 libraries."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

5
Index position: 87

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [87]:
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = re.findall(r'\d+', text)
numeric_values = [int(value) for value in numeric_values]

max_value = max(numeric_values)

print(max_value)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

In [88]:
def capital_letters (x):
    return re.sub(r"(\w)([A-Z])", r"\1\2", x)

print(capital_letters("RegularExpression"))
print(capital_letters('IsAn'))
print(capital_letters("ImportantTopic"))
print(capital_letters("InPython"))

RegularExpression
IsAn
ImportantTopic
InPython

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [89]:
def text_match(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("AaBbGg"))
print(text_match("Python"))
print(text_match("regex"))
print(text_match("PYTHON"))
print(text_match("bB"))
print(text_match("Pr"))

Found a match!
Found a match!
Not matched!
Not matched!
Not matched!
Found a match!

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

In [90]:
def remove_duplicates(text):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern, r'\1', text)
  return result

text = "Hello hello world world "
output = remove_duplicates(text)
print(output)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [ ]:
def check_string(string):
  pattern = r"\w$"
  match = re.search(pattern, string)
  if match:
    return True
    
  else:
    return False
        

input_string = input("Enter a string: ")
if check_string(input_string):
    print("String ends with an alphanumeric character")
    
else:
    print("String does not end with an alphanumeric character")

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [ ]:
def extract_hashtags(text):
  hashtags = re.findall(r'#\w+', text)
  return hashtags

# Sample text
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

# Extract hashtags
hashtags = extract_hashtags(text)

# Print the extracted hashtags
print(hashtags)

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [ ]:
input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [ ]:
# Open the text file
with open('filename.txt', 'r') as file:
    text = file.read()

# Define the regular expression pattern for dates
pattern = r'\d{2}-\d{2}-\d{4}'

# Find all matches of the pattern in the text
dates = re.findall(pattern, text)

# Print the extracted dates
for date in dates:
    print(date)

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [ ]:
def remove_words(string):
  pattern = re.compile(r'\b\w{2,4}\b')
  modified_string = re.sub(pattern, '', string)
  return modified_string

In [ ]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
expected_output = "following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly."

result = remove_words(sample_text)
print(result == expected_output)  # True